__pycache__/
*.pyc
.env
/data/chroma_db/
/data/logs/

.venv/

# Test coverage files
*.log
*.tmp
*.temp
build/
dist/
*.egg-info/
.pytest_cache/
.tox/
htmlcov/
.coverage
coverage.xml
coverage.json

# LLM markdown files
.github/**/*.md
docs/**/*.md